<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118120801173-m9vdde6ntf6a93k50cc97fu9mgqcvtpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118120801173-m9vdde6ntf6a93k50cc97fu9mgqcvtpd</string>
	<key>API_KEY</key>
	<string>AIzaSyA18RUMIKZT_a4q6wXMmX4vhFu03B-xWhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>118120801173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tryFirbs</string>
	<key>PROJECT_ID</key>
	<string>playfirebase-9a06d</string>
	<key>STORAGE_BUCKET</key>
	<string>playfirebase-9a06d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118120801173:ios:467b0df828a7460a740c9c</string>
</dict>
</plist>